Dockerfile

**/.direnv/
**/node_modules/

/packages/iris-backend/out
/packages/iris-backend/obj
/packages/iris-backend/spa

/packages/iris-frontend/dist

/packages/iris-schemas/out
/packages/iris-studio/out
