:root {
	--font-main: system-ui;
	--font-title: var(--font-main);
	--font-heading: var(--font-main);
	--font-ui: var(--font-main);
	--font-mono: monospace;

	--leading-normal: 1.4;
	--leading-tight: calc(var(--leading-normal) * 0.9);
	--leading-snug: calc(var(--leading-normal) * 0.95);
	--leading-relaxed: calc(var(--leading-normal) * 1.05);
	--leading-loose: calc(var(--leading-normal) * 1.1);

	--paragraph-spacing: 1.4em;

	--callout-padding-x: 0.75rem;
	--callout-padding-y: 0.5rem;
	--callout-margin: 1.5rem;
	--callout-border-width: 0.25rem;

	--color-foreground: black;
	--color-blockquote-border: #444444;
	--color-focus-outline: hsl(200, 100%, 50%);
	--color-inline-code: hsl(220, 100%, 50%);

	// Links
	--link-hue: 270;
	--link-saturation: 100%;
	--color-link: hsl(var(--link-hue), var(--link-saturation), 40%);
	--color-link-hover: hsl(var(--link-hue), var(--link-saturation), 35%);
	--color-link-active: hsl(var(--link-hue), var(--link-saturation), 25%);
	--color-link-indicator: hsl(var(--link-hue), var(--link-saturation), 20%);
	--color-link-underline: var(--color-link-indicator);
	--link-underline-thickness: 0.05rem;
	--link-underline-offset: 0.15rem;
	--link-external-indicator: '↗';

	--color-anchor-link: var(--color-link);
	--color-anchor-link-hover: var(--color-link-hover);
	--color-anchor-link-active: var(--color-link-active);

	// Lists
	--list-indent: 1.5rem;
	--list-spacing: calc(var(--paragraph-spacing) / 3);

	// Buttons
	--button-rounding: 0.25rem;

	--color-button-bg: hsl(270, 100%, 35%);
	--color-button-fg: white;
	--color-button-hover-bg: hsl(270, 100%, 30%);
	--color-button-hover-fg: var(--color-button-fg);
	--color-button-pressed-bg: hsl(270, 100%, 22%);
	--color-button-pressed-fg: var(--color-button-fg);

	--color-button-alt-bg: #e0e0e0;
	--color-button-alt-fg: black;
	--color-button-alt-hover-bg: #e7e7e7;
	--color-button-alt-hover-fg: var(--color-button-alt-fg);
	--color-button-alt-pressed-bg: #f0f0f0;
	--color-button-alt-pressed-fg: var(--color-button-alt-fg);

	--color-button-danger-bg: hsl(0, 100%, 45%);
	--color-button-danger-fg: white;
	--color-button-danger-hover-bg: hsl(0, 100%, 40%);
	--color-button-danger-hover-fg: var(--color-button-danger-fg);
	--color-button-danger-pressed-bg: hsl(0, 100%, 37%);
	--color-button-danger-pressed-fg: var(--color-button-danger-fg);

	// Marginalia: Asides and sidenotes
	--prose-width: 60cqw;
	--marginalia-width: 33cqw;
	--marginalia-below: calc(var(--paragraph-spacing) * 2);
	--marginalia-left: 3rem;

	--color-marginalia-border-left: #333333;
	--color-marginalia-above: #e0e0e0;
	--color-marginalia-bg: #f0f0f0;

	--color-sidenote-active-bg: rgba(255, 0, 0, 30%);
	--color-sidenote-active-fg: black;

	--sidenote-toggle: '+';
}
