@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/400-italic.css';
@import '@fontsource/vollkorn/700.css';
@import '@fontsource/vollkorn/700-italic.css';

@import '@fontsource/vollkorn-sc/400.css';
@import '@fontsource/vollkorn-sc/700.css';

@import '@fontsource/atkinson-hyperlegible/400.css';
@import '@fontsource/atkinson-hyperlegible/400-italic.css';
@import '@fontsource/atkinson-hyperlegible/700.css';
@import '@fontsource/atkinson-hyperlegible/700-italic.css';

@import '@fontsource/lexend/400.css';
@import '@fontsource/lexend/700.css';

@import '@fontsource/comic-neue/400.css';
@import '@fontsource/comic-neue/400-italic.css';
@import '@fontsource/comic-neue/700.css';
@import '@fontsource/comic-neue/700-italic.css';

@import '@fontsource/opendyslexic/400.css';
@import '@fontsource/opendyslexic/400-italic.css';
@import '@fontsource/opendyslexic/700.css';
@import '@fontsource/opendyslexic/700-italic.css';

@import '@fontsource/source-code-pro/500.css';
@import '@fontsource/source-code-pro/500-italic.css';
@import '@fontsource/source-code-pro/700.css';
@import '@fontsource/source-code-pro/700-italic.css';

@import 'tailwindcss';
@import 'iris-components/styles' layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-body: var(--font-body);
	--font-smallcaps: var(--font-smallcaps);
	--font-sans: var(--font-sans);
	--font-mono: Source Code Pro;
}

:root {
	--t-iris-50: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 98%);
	--t-iris-100: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 95%);
	--t-iris-200: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 90%);
	--t-iris-300: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 85%);
	--t-iris-400: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 75%);
	--t-iris-500: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 65%);
	--t-iris-600: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 55%);
	--t-iris-700: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 50%);
	--t-iris-800: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 45%);
	--t-iris-900: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 35%);
	--t-iris-950: hsl(calc(270 + var(--hue-shift)), var(--color-sat), 25%);
}

.dark {
	--t-iris-50: hsl(calc(270 + var(--hue-shift)), 40%, 5%);
	--t-iris-100: hsl(calc(270 + var(--hue-shift)), 40%, 15%);
	--t-iris-200: hsl(calc(270 + var(--hue-shift)), 40%, 25%);
	--t-iris-300: hsl(calc(270 + var(--hue-shift)), 40%, 35%);
	--t-iris-400: hsl(calc(270 + var(--hue-shift)), 40%, 45%);
	--t-iris-500: hsl(calc(270 + var(--hue-shift)), 40%, 55%);
	--t-iris-600: hsl(calc(270 + var(--hue-shift)), 40%, 65%);
	--t-iris-700: hsl(calc(270 + var(--hue-shift)), 40%, 70%);
	--t-iris-800: hsl(calc(270 + var(--hue-shift)), 40%, 75%);
	--t-iris-900: hsl(calc(270 + var(--hue-shift)), 40%, 85%);
	--t-iris-950: hsl(calc(270 + var(--hue-shift)), 40%, 95%);
}

:root {
	--font-body: Vollkorn;
	--font-smallcaps: Vollkorn SC;
	--font-sans: Atkinson Hyperlegible;

	--color-sat: calc(
		70% - var(--hue-shift) * 0.333% + var(--hue-shift) * var(--hue-shift) *
			0.000925%
	);

	--line-height: 1;
}

body {
	@apply text-black;
}

.iris-rotate {
	@apply hue-rotate-[calc(var(--hue-shift)*1deg)];
}
