@reference "../../index.css";

body {
	@apply bg-iris-50 hyphens-none;
}

main {
	@apply my-4 max-w-[40ch] mx-auto lg:columns-2 lg:gap-8 lg:max-w-[90ch];
}

header {
	@apply max-w-[40ch] mx-auto lg:max-w-[90ch];
}

section,
figure {
	@apply break-inside-avoid-column;
}

section {
	@apply my-[calc(var(--paragraph-spacing)*1.5)] first:mt-0 last:mb-0;
}

section > h2,
section > div > h2 {
	@apply font-body mt-0 mb-(--paragraph-spacing) text-[1.2rem] text-center;
}

ul,
section > p {
	@apply pl-4;
}

.text-settings h2 {
	@apply mt-0 mb-(--paragraph-spacing);
}

.text-settings > div > div {
	@apply border-[0.1rem] border-iris-300 px-3 pt-1 pb-2 shadow-md min-h-58;
}

h2 a {
	/* Hack to remove info link */
	@apply hidden;
}

figcaption {
	@apply text-sm;
}

.label-figure {
	@apply relative max-w-[70ch] ml-3 border-[0.1rem] border-iris-300 shadow-md;
}

.label-figure__label {
	@apply absolute text-[0.7rem] left-0 -bottom-[0.1rem] -rotate-90 origin-bottom-left bg-iris-300 px-2;
}

.bad {
	@apply leading-[0.9] text-[#ff0000] dark:text-[#6f6f6f] uppercase font-[Times_New_Roman];
	font-feature-settings:
		'kern' off,
		'liga' off,
		'calt' off,
		'dlig' off,
		'hlig' off,
		'swsh' off,
		'salt' off;
}

.print {
	font-size: 317% !important;

	body {
		@apply w-[48in] h-[36in];
	}

	header {
		@apply max-w-full;
	}

	figcaption {
		@apply text-[0.65rem];
	}

	.text-settings > div > div {
		@apply min-h-0 text-[0.8rem];

		.react-aria-Tab {
			@apply text-[1rem];
		}
	}

	/* .references { */
	/* 	@apply columns-3; */
	/* } */

	main {
		@apply grid w-full max-w-full gap-0 gap-x-6 pl-[1ch] pr-[2ch] hyphens-auto;
		grid-template-columns: 32ch 1fr 5ch 5ch 1fr 32ch;
		grid-template-rows: repeat(120, 0.25in);
		grid-template-areas:
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro look look selectprompt selectprompt llm'
			'intro .... .... selectprompt selectprompt llm'
			'intro .... .... selectprompt selectprompt llm'
			'intro dyslexia dyslexia selectprompt selectprompt llm'
			'intro dyslexia dyslexia selectprompt selectprompt llm'
			'intro dyslexia dyslexia selectprompt selectprompt llm'
			'..... dyslexia dyslexia selectprompt selectprompt llm'
			'..... dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia selectprompt selectprompt llm'
			'background dyslexia dyslexia ............ ............ llm'
			'background dyslexia dyslexia ............ ............ llm'
			'background dyslexia dyslexia intextprompt intextprompt llm'
			'background dyslexia dyslexia intextprompt intextprompt llm'
			'background ........ ........ intextprompt intextprompt ...'
			'background ........ ........ intextprompt intextprompt ...'
			'background . . intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background jargon jargon intextprompt intextprompt eval'
			'background ...... ...... ............ ............ eval'
			'background ...... ...... ............ ............ eval'
			'background studio studio frontend frontend eval'
			'background studio studio frontend frontend eval'
			'background studio studio frontend frontend eval'
			'background studio studio frontend frontend eval'
			'.......... studio studio frontend frontend eval'
			'.......... studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend eval'
			'features studio studio frontend frontend ....'
			'features studio studio frontend frontend ....'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend results'
			'features studio studio frontend frontend .......'
			'features studio studio frontend frontend .......'
			'features studio studio frontend frontend discussion'
			'features studio studio frontend frontend discussion'
			'features studio studio frontend frontend discussion'
			'features studio studio frontend frontend discussion'
			'features ...... ...... ........ ........ discussion'
			'features ...... ...... ........ ........ discussion'
			'........ semantic ueqs ueqs ueqs discussion'
			'........ semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs discussion'
			'settings semantic ueqs ueqs ueqs ..........'
			'settings semantic ueqs ueqs ueqs ..........'
			'settings semantic ueqs ueqs ueqs .'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings semantic ueqs ueqs ueqs references'
			'settings . ueqs ueqs ueqs references'
			'settings . ueqs ueqs ueqs references'
			'. . ueqs ueqs ueqs references';
	}

	section,
	figure {
		@apply my-0;
	}
}
