.style-provider {
	line-height: var(--line-height);

	/* Beat other CSS by specificity */
	p,
	ul:not(.list-none),
	ol:not(.list-none),
	blockquote,
	pre,
	figure,
	table,
	aside {
		margin-top: var(--paragraph-spacing);
		margin-bottom: var(--paragraph-spacing);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-top: calc(var(--paragraph-spacing) * 0.7) !important;
		margin-bottom: calc(var(--paragraph-spacing) * 0.7) !important;
	}

	li > ul,
	li > ol {
		margin-top: calc(var(--paragraph-spacing) * 0.6) !important;
		margin-bottom: calc(var(--paragraph-spacing) * 0.6) !important;
	}

	* {
		--leading-tight: calc(var(--line-height) * 0.9);
		--leading-snug: calc(var(--line-height) * 0.95);
		--leading-normal: calc(var(--line-height) * 1);
		--leading-relaxed: calc(var(--line-height) * 1.05);
		--leading-loose: calc(var(--line-height) * 1.1);
	}
}
