.style-provider {
	line-height: var(--line-height);

	/* Beat other CSS by specificity */
	p,
	ul:not(.list-none),
	ol:not(.list-none),
	blockquote,
	pre,
	figure,
	table,
	aside {
		margin-top: var(--paragraph-spacing);
		margin-bottom: var(--paragraph-spacing);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
