@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/400-italic.css';
@import '@fontsource/vollkorn/700.css';
@import '@fontsource/vollkorn/700-italic.css';

@import '@fontsource/vollkorn-sc/400.css';
@import '@fontsource/vollkorn-sc/700.css';

@import '@fontsource/atkinson-hyperlegible/400.css';
@import '@fontsource/atkinson-hyperlegible/400-italic.css';
@import '@fontsource/atkinson-hyperlegible/700.css';
@import '@fontsource/atkinson-hyperlegible/700-italic.css';

@import '@fontsource/source-code-pro/500.css';
@import '@fontsource/source-code-pro/500-italic.css';
@import '@fontsource/source-code-pro/700.css';
@import '@fontsource/source-code-pro/700-italic.css';

@import 'tailwindcss';
@import 'iris-components/styles' layer(components);
@import 'iris-prosemirror/styles' layer(components);

@source 'safelist.txt';
@source '../../../iris-prosemirror/src/';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-body: Vollkorn;
	--font-smallcaps: Vollkorn SC;
	--font-sans: Atkinson Hyperlegible;
	--font-mono: Source Code Pro;
}

:root {
	/* It's just zinc */
	--t-iris-50: oklch(0.985 0 0);
	--t-iris-100: oklch(0.967 0.001 286.375);
	--t-iris-200: oklch(0.92 0.004 286.32);
	--t-iris-300: oklch(0.871 0.006 286.286);
	--t-iris-400: oklch(0.705 0.015 286.067);
	--t-iris-500: oklch(0.552 0.016 285.938);
	--t-iris-600: oklch(0.442 0.017 285.786);
	--t-iris-700: oklch(0.37 0.013 285.805);
	--t-iris-800: oklch(0.274 0.006 286.033);
	--t-iris-900: oklch(0.21 0.006 285.885);
	--t-iris-950: oklch(0.141 0.005 285.823);
}

.dark {
	--t-iris-950: oklch(0.985 0 0);
	--t-iris-900: oklch(0.985 0 0);
	--t-iris-800: oklch(0.967 0.001 286.375);
	--t-iris-700: oklch(0.92 0.004 286.32);
	--t-iris-600: oklch(0.871 0.006 286.286);
	--t-iris-500: oklch(0.705 0.015 286.067);
	--t-iris-400: oklch(0.552 0.016 285.938);
	--t-iris-300: oklch(0.442 0.017 285.786);
	--t-iris-200: oklch(0.37 0.013 285.805);
	--t-iris-100: oklch(0.274 0.006 286.033);
	--t-iris-50: oklch(0.21 0.006 285.885);
}

body {
	@apply text-black;
}

.flex-no-shrink {
	* {
		@apply shrink-0;
	}
}

.roundout-tabs {
	@apply h-full;

	& > * > .react-aria-TabList {
		@apply flex flex-row gap-2;
	}

	& > * > .react-aria-TabList > .react-aria-Tab {
		@apply relative cursor-pointer font-sans text-black outline-hidden border-transparent border-2 whitespace-nowrap;

		-webkit-app-region: no-drag;

		&[data-focus-visible] span {
			@apply outline-solid outline-2 outline-iris-500 -outline-offset-[0.25rem];
		}

		&[data-selected] {
			@apply bg-iris-50 rounded-t-[0.5rem] border-iris-200 border-b-0;

			/* https://css-tricks.com/tabs-with-round-out-borders/ */
			/* &::before, &::after: roundout borders */
			&::before,
			&::after {
				@apply absolute content-[''] w-[0.5rem] h-[0.5rem] bg-iris-100 -bottom-[2px] border-b-2 border-iris-200 z-10;
			}

			&::before {
				@apply rounded-br-full -left-[0.5rem] border-r-2;
			}

			&::after {
				@apply rounded-bl-full -right-[0.5rem] border-l-2;
			}

			/* span::after: cover bottom and sharp corner borders */
			span::after {
				@apply absolute content-[''] -left-[0.5rem] -right-[0.5rem] h-2 -bottom-1 bg-iris-50;
			}
		}

		span {
			@apply inline-flex items-center transition-none px-4 py-1.5 my-0.5 rounded-md;

			.roundout-tabs__close {
				@apply rounded-full p-0.5 transition-opacity duration-100 w-4 h-4;

				&[data-hovered] {
					@apply text-white bg-iris-700;
				}

				&[data-pressed] {
					@apply text-white bg-iris-600;
				}
			}
		}

		&:not([data-selected]) span {
			.roundout-tabs__close:not([data-focus-visible]) {
				@apply opacity-0;
			}
		}

		&[data-hovered]:not([data-selected]) span {
			@apply bg-iris-50;

			.roundout-tabs__close {
				@apply opacity-100;
			}
		}
	}
}

*::-webkit-scrollbar {
	@apply w-4 cursor-default;
}

*::-webkit-scrollbar-thumb {
	@apply cursor-default rounded-full bg-iris-200 bg-clip-padding border-4 border-solid border-transparent;

	&:active {
		@apply bg-iris-300;
	}
}

*::-webkit-scrollbar-corner {
	@apply hidden;
}

@utility no-scrollbar {
	/* https://dev.to/derick1530/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar-4mbd */
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility drag-region {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
